@font-face {
    font-family: 'Muller';
    src: url('MullerThinDEMO.eot');
    src: url('MullerThinDEMO.eot?#iefix') format('embedded-opentype'),
    url('MullerThinDEMO.woff') format('woff'),
    url('MullerThinDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Muller ExtraBold';
        src: url('MullerExtraBoldDEMO.eot');
        src: url('MullerExtraBoldDEMO.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBoldDEMO.woff') format('woff'),
        url('MullerExtraBoldDEMO.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }


body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Muller', sans-serif;
}

:any-link{
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #1c1c1c;
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Muller ExtraBold', sans-serif;
}

p{
    color: #787878;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 110px;
    display: flex;
    background-color: #fff;
}
.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.header__logo {
    margin: 0 auto;
}

.header__logo img{
    transition: .2s linear;
}

.header__nav {
    position: relative;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    column-gap: 20px;
}
.nav-item {
    padding: 0 10px;
}

.nav-item a{
    font-size: 15px;
    transition: .2s linear;
}

.nav-item a:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #3172b9;
}

.header__button {
    padding: 15px 35px;
    background-color: #3172b9;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 auto;
    transition: .2s linear;
}
 .header__logo img:hover {
    opacity: .7;
}

.header__button:hover{
    background: #71A7E2 !important;
}

.header__button:disabled{
    background: #C4C4C4 !important;
}



/*? Hamburger menu  */

.hamburger-nav-list,.hamburger-open{
    display: none;
    -webkit-user-select: none;
    user-select: none;
}



/*! Section intro  */
.intro {
    width: 100%;
    height: 550px;
    background-image: url('img/Intro.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.intro:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(to left, transparent, #fff 60%, #fff, #fff, #ffffff);
}


.intro__inner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    
}
.intro-title {
    font-size: 40px;
    margin-right: auto;
    margin-bottom: 20px;
}
.intro-text {
    font-size: 16px;
    margin-right: auto;
    margin-bottom: 20px;
}
.intro__button {
    margin-right: auto;
    padding: 19px 58px;
    background-color: #3071b7;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: .2s linear !important;
}

.intro__button:hover{
    background: #71A7E2 !important;
}

.intro__button:disabled{
    background: #C4C4C4 !important;
}


.intro__secure, .intro__secure i {
    margin-right: auto;
    color: #787878;
}


/*! Section Services  */
.services {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section__name {
    font-size: 36px;
    font-weight: 200;
    padding-bottom: 20px;
}
.section__subtitle {
    padding-bottom: 40px;
}
.services__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}
.service-item {
    height: 320px;
    width: 230px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    cursor: pointer;
    transition: .2s linear !important;
}

.icon{
    font-size: 30px;
    color: #3172b9;
}

.item-title {
    font-size: 20px;
}
.item-info {
    font-size: 14px;
}

.service-item:hover {
    background-color: #3172b9;
    -webkit-transform: scale(1.050) !important;
    transform: scale(1.050) !important;
}

.service-item:hover  .item-info,.service-item:hover .item-title {
    color: #fff;
    font-weight: normal;
}

.service-item:hover .icon{
    color: #fff;
}



/*! Section Articles  */
.articles {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articles__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.article-item {
    position: relative;
    width: 570px;
    height: 180px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    transition: .2s linear;
    cursor: pointer;
}

.article-item:hover {
    -webkit-transform: scale(1.030) !important;
    transform: scale(1.030) !important;
}

.article-item:hover .article-info{
    background: #3172B9;
}

.article-item:hover .article-date, .article-item:hover .article-msg, .article-item:hover .article-title{
    color: #fff !important;
}

.article-item span {
    position: absolute;
    top: -26.5px;
    left: 121px;
    padding: 4px 5px;
    background: #3172b9;
    border-radius: 10px 0px 0px 0px;
    font-size: 16px;
    color: snow;
    font-weight: bold;
}

.article-img {
    display: flex;
}

.article-img img {
    border-radius: 10px 0px 0px 10px;
}
.article-info {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.article-date {
    font-size: 10px;
}
.article-title {
    font-size: 20px;
}
.article-msg {
    font-size: 14px;
    line-height: 21px;
    color: #787878;
    width: 210px;
}





/*! Section reviews/Messages  */
.reviews {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__name2 {
    font-size: 36px;
    font-weight: 200;
    padding-bottom: 20px;
    text-align: left;
}
.reviews__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}
.review-item {
    width: 370px;
    height: 240px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
    position: relative;
    padding: 24px;
    transition: .2s linear !important;
}

.review-item:hover {
    /* -webkit-transform-: scale(.8);
    transform: scale(.999); */
    box-shadow: 0px 0px 22px #3172b9;
}

.review-msg {
    padding: 24px;
    margin-bottom: auto;
}
.review-text {
    font-size: 14px;
}
.review__author {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(0,0,0, .3);
    padding-top: 10px;
    column-gap: 15px;
}
.review__author-logo img {
    width: 67px;
    height: 68px;
    border-radius: 40px;
    border: 1px solid #3172b9;
}
.author__name {
    font-size: 17px;
}
.author__profession {
    font-size: 14px;
}



/*! Section Contacts  */
.contacts {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    gap: 100px;
}

.contact-item i{
    font-size: 19px;
    color: #1C1C1C;
}
.contact-slogan {
    padding-top: 19px;
    padding-bottom: 30px;
    font-size: 17px;
    color: #1C1C1C;
}
.contact-text {
    line-height: 25.2px;
}

.contacts-group {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.contacts a{
    line-height: 25.2px;
    color: #787878;
    transition: .01s linear;
}

.contacts a:hover{
    color: #71A7E2;
}

.contacts a:visited{
    color: #0E3B6C;
}




/*! Anketa section  */
.join {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__name {
    text-align: center;
}
.section__subtitle {
    text-align: center;
}
.join__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
.join__left {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}
.join__right {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.join__inner input, .join__inner select, .join__inner option{
    padding: 15px 28px;
    opacity: 0.6;
    border: 1px solid #0E3B6C;
    border-radius: 50px;
    width: 220px;
}

.join__inner input, .join__inner select, .join__inner textarea{
    cursor: pointer;
}


.join__inner input:hover, .join__inner select:hover, .join__inner textarea:hover{
    border: 1px solid #71A7E2;
}

.join__inner input:focus, .join__inner select:focus, .join__inner textarea:focus{
    background: rgba(113, 167, 226, 0.2);
}

.join__inner input:-ms-input-placeholder, .join__inner select:-ms-input-placeholder, .join__inner textarea:-ms-input-placeholder{
    color: #000000;
}

.join__inner textarea{
    border-radius: 20px;
    padding: 15px 28px;
    opacity: 0.6;
    border: 1px solid #0E3B6C;
}

.join__inner option{
    font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
display: flex;
}



.join-btn {
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
    padding: 15px 100px;
}
.join__button {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border-radius: 50px;
    background: #3172B9;
    cursor: pointer;
    border: none;
    transition: .2s linear !important;
}

.join__button:hover {
    opacity: .6;
}

.btn-info {
    padding-top: 9px;
    display: flex;
    justify-content: end;
}



/*! Footer  */

.footer {
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__inner{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}
.copyright {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    transition: .2s linear !important;
}

.copyright a img:hover{
    opacity: .6 !important;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    column-gap: 28px;
}

.footer-nav a{
    transition: .2s linear;
    color: #787878;
}

.footer-nav a:hover {
    opacity: .6;
}

.socials {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    column-gap: 23px;
}

.socials i{
    cursor: pointer;
    padding: 3px;

}

.socials i:hover{
    color: #71A7E2;
}



/*! Section for Media Screens  */

@media screen and (max-width: 800px) {
    .header__inner{
        justify-content: space-around;
    }
    .header__button, .header__logo{
        margin: 0;
    }
    .header__nav{
        display: none;
    }
    .hamburger-open {
        font-size: 30px;
        display: block;
    }
    .hamburger-nav-list {
        display: block;
        float: left;
        position: absolute;
        top: 110px;
        z-index: -1;
        width: 100%;
        background-color: navajowhite;
        transition: .4s ease-in-out;
    }

    .hamburger-nav-list.active{
        right: 0;
        z-index: 0;
    }
    
    .hamburger-nav-list .hamburger-nav-list a{
        display: block;
        text-align: center;
    }
    
    .hamburger-close:hover{
        color: red;
    }
    
    .intro.hamb{
        transition: .4s ease-in;
        margin-top: 240px;
    }
    .hamburger-nav-list .hamburger-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
        transition: .2s linear;
    }
    .hamburger-nav-item {
        color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }

    .intro-text,.intro-title,.intro__secure{
        margin: 0;
        text-align: left;
    }

    .article-item{
        width: auto;
        transform: scale(.8) !important;
    }
    .article-item:hover{
        transform: scale(.9) !important;
    }
    .article-info{
        padding: 15px;
    }
    .article-msg{
        font-size: 11px;
    }
}
